.background{
    background-color: #b8c1ec;
}

.topHeader{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    color: #000;
}
.contact{
    display: flex;
    flex-direction: column;
    color: #000;
    text-decoration: none;
}
.navBar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.link{
    background-color: #eebbc3;
    padding: 10px;
    border-top: 2px solid black;
    border-left: 3px solid black;
    border-right: 0.5px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    color: #232946;
    font-weight: 600;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .navBar{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0;
    }
    .link{
        border-bottom: none !important;
    }
    .contact{
        white-space: nowrap;
    }
}